spring:
  application:
    name: insightestate
    developed-by: ArturMirovTeam
  boot:
    admin:
      client:
        instance:
          service-url: http://localhost:8080
        enabled: false
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://77.238.232.18:5432/insightestate}
    username: ${DATABASE_USERNAME:insightestate_admin}
    password: ${DATABASE_PASSWORD:ROucKPoLoNgu}
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME:it@insightestate.com}
    password: ${EMAIL_PASSWORD:dqyynkrxicwoaqwv}
    properties:
      mail.transport.protocol: smtp
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
      mail.smtp.connectiontimeout: 5000
      mail.smtp.timeout: 5000
      mail.smtp.writetimeout: 5000

# TODO перенести в insightestate
application:
  admin: arturmirov777@gmail.com, service@insightestate.com

insightestate:
  auth:
    tokens:
      rsa-private-key: ${AUTH_RSA_PRIVATE_KEY:-----BEGIN PRIVATE KEY-----MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQDcUFvhqcKeS+S7bNorU/vAXcjHKTnSpZCQ//ViEjY8/ispxGtDJItMEa8kn/TxHBxRDZpXT1K99WRWI5Nw1MfxMxWAw+yfSbsTQAXVoXsc5IJDEH+3n8rR245GstB2GEgmSgV2gXaYNrlQ2H8PWoZaLsSOQ/pcEL4tvkyOwlbQbBrp/Y7Q8N+iSWW5Qv0f0XVIgA+38KiG4GEWvb/FeC+IdaQIG/roh8ESFlKMHQAbEB34DIylstMJc/uSTBv1aaE2UMFp5LHCt8gfSzy5WFSI3iqRo+UBMdFVbtTHjwp4CH+9OaiIJbC8/47cUn74oWM34MyOIFEAkOUCN0azr/MhAgMBAAECggEAcHDy8/FYSsIhMycTEhoC2uMCneMEh+XIKrj3292/oNF35hFBTTtRfLlp0h9xO71FFnkC1Jy/dgPP+caecW+nvAp+ZwGXupQ+zkxWrfmEg/J8KQ46oNUFBqYvrxWEH0G1URVmRF0+0eDcI87aylNBTrWfy5wWIvbImUAOgq3c8PHIz7ZDvL2KrqcNMGUR8op/6oOVJFMSJGbOQN/SKlWPCAv4AmyRGCG9vUW+9Pe/ucL+f7SJofJO0XQqPpy5jwv5ycVWcX9R8/YlKRvtOa6ljaV0McGCr4h4ULiStab0wpuv6zqL98V5rVJuK/oDXqoZCqt907i2mgPl+1U/H6OJIQKBgQD8OagfhfiBdLAkRLNNpKYYNY5nS0gk3zBLrJCogS60oIuZ8F3AfMrFd3op8qAUcGRo3MNqocmpOFQSYkt5XiMWQGuI2/G57wzwRhPRi8rcfObErofOZaYLntWmAn32gNf7qDynmGE3yii82bR0kYcx1NpBFQnYdEyFqHKehEWl+wKBgQDfnHD2KHz+wCsiyJyl7qzYSlRsa52gjzBWv7pyPLJbBhPMJBOOFd94pFGcLgpTEk+tflTg8KeUsdBIznjTuq9ccYYw+JEJMNuSueuByjV8+TUKuQBg7pwu1cHfvHtajRNZ9ufiu5bIxTEbYA1MpdIRJMgl9fIVNobeGfFGPfeskwKBgBj7MO6mWz2fLA77ivLGuvis3UTXzPZx8JueJNm7qb+UIx+FEhQNiBvUwJHFCRvdIeTM8MHv8kRDYvhLKgSEUV9T1BLDDgcHaTWnCzF28gmyiTyzuJm1saN3ANwnZQh0LHAtcox66C4ZZL2HpnrhKw3Bcjh99/KrWiTm0StoGGnfAoGBAK+AjJRW8MvNLc3uICyH6HcV168Ew8GZwLnFX2N7ygxw96bYhdSVzEBWz4rCA+5xR8IGjj3CA/VLngsWqnSbaDkpDMZwwPyysRM3AuVqPJLq0TuqOebaQBDuSmz89N/8K70HcbZdvxmy0zkGKUoIN5inAsPwheEqW64ENH8J8dMrAoGBAOcKPU8ldSgWtd1PpwsutlXMSQ9fHXqLa1G+00iJlvSOZPdkj6rsRTcwVpLHoKxcVu1eOhAyG/pGpWUrdo+Gd3udyduvsjsVa8hlIoJnhsBk46eEKz9fO9UqIG6IYoc2Aa5cRNicj1P2f1PkJ4GeYXFTFTeC07jgPSPVL98ksB4N-----END PRIVATE KEY-----}
      access:
        time-to-live: ${ACCESS_TOKEN_TIME_TO_LIVE:60m}
      refresh:
        time-to-live: ${REFRESH_TOKEN_TIME_TO_LIVE:60m}
  image-base-url: "https://lotsof.properties"
  estate:
    image-dir: ${ESTATE_IMAGE_DIR:/Users/nemodev/Downloads/estate/images/estate-images-1} # TODO для локальной загрузки меняем путь на свой

ai:
  integration:
    http-client:
      service-id: ai
      url: http://194.60.133.56:11434/api/generate
      timeout:
        connection: 230s
        read: 230s

gpt:
  integration:
    http-client:
      service-id: gpt
      url: https://api.pawan.krd/cosmosrp/v1/chat/completions
      timeout:
        connection: 230s
        read: 230s
      headers:
        - name: Authorization
          value: "Bearer pk-blVeWGKfLYXDAIhQJabwrjqqhsTgeJyZTKXjaypZpORSMQHV"

cutt:
  integration:
    http-client:
      service-id: cutt
      url: http://tinyurl.com
      timeout:
        connection: 230s
        read: 230s

google:
  spreadsheets:
    estate-load-cron: 0 0 8 * * *
    estate-spreadsheet-id: "1JKUYrunv2WXQlj81HPD2Sk3pXX6BTyL-NLpSx_9RZIM"
  drive:
    estate-image-load-cron: 0 0 1 * * Mon

platform:
  integration:
    s3-minio:
      access-key: ${S3_MINIO_ACCESS_KEY:admin}
      secret-key: ${S3_MINIO_SECRET_KEY:admin1234}
      bucket: ${S3_MINIO_BUCKET:estate-images}
      file-content-type: ${S3_MINIO_FILE_CONTENT_TYPE:image/jpeg}
      upload-file-part-size: 5MB
      http-client:
        url: ${S3_MINIO_URL:http://127.0.0.1:9000}
  security:
    oauth2-resource:
      rsa-key:
        public-key: ${AUTH_RSA_PUBLIC_KEY:-----BEGIN PUBLIC KEY-----MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA3FBb4anCnkvku2zaK1P7wF3Ixyk50qWQkP/1YhI2PP4rKcRrQySLTBGvJJ/08RwcUQ2aV09SvfVkViOTcNTH8TMVgMPsn0m7E0AF1aF7HOSCQxB/t5/K0duORrLQdhhIJkoFdoF2mDa5UNh/D1qGWi7EjkP6XBC+Lb5MjsJW0Gwa6f2O0PDfoklluUL9H9F1SIAPt/CohuBhFr2/xXgviHWkCBv66IfBEhZSjB0AGxAd+AyMpbLTCXP7kkwb9WmhNlDBaeSxwrfIH0s8uVhUiN4qkaPlATHRVW7Ux48KeAh/vTmoiCWwvP+O3FJ++KFjN+DMjiBRAJDlAjdGs6/zIQIDAQAB-----END PUBLIC KEY-----}
      auth-paths:
        - path: /admin/v1/users/**
          methods: POST,PUT,PATCH,DELETE
          roles: ${ADMIN_USER_ROLES:ADMIN}

springdoc:
  open-api:
    info:
      title: Каталог недвижимости
      description: Каталог недвижимости
    servers:
      - description: LOCAL
        url: http://localhost:8080
      - description: PROD
        url: ${SERVER_PROD_URL:http://77.238.232.18:8080}
  group-configs:
    - group: admin
      display-name: Admin API
      packages-to-scan:
        - "ru.nemodev.insightestate.api.admin"
    - group: auth
      display-name: Auth API
      packages-to-scan:
        - "ru.nemodev.insightestate.api.auth"
    - group: client
      display-name: Client API
      packages-to-scan:
        - "ru.nemodev.insightestate.api.client"
